mixin video(value)
    div
        h3
            a(href=`/video/${value.id}`)=value.title
        ul 
            li #{value.rating}/5. 
            li #{value.comments} comments.
            li posted #{value.createAt}.
            li #{value.views} views.
